<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">我们的优势</h2>
                    <h3 class="section-subheading text-muted">以技术创新为核心，提供全面的大健康解决方案，致力于客户成功</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">技术创新与应用</h4>
                    <p class="text-muted">利用云计算、大数据分析和人工智能等技术，提供创新性的大健康解决方案，确保产品高效、可靠且易于使用</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">全面的服务体系</h4>
                    <p class="text-muted">提供从体育赛事管理到慢病管理等全面的产品和服务，满足不同客户的需求，确保一站式解决方案的有效实施</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">客户为中心的理念</h4>
                    <p class="text-muted">坚持以客户需求为导向，提供个性化服务和支持，确保客户的满意度和系统的长期稳定运行</p>
                </div>
            </div>
        </div>
    </section>